.ContentRight {
  .heading {
    font-family: 'Poppins', sans-serif;
    border-bottom: 3px solid hsla(0, 0%, 100%, 0.1);
    color: var(--primary-color);
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}
