.experience {
  padding-bottom: 4%;

  .separator {
    border-top: 1px solid #101010;
    margin: 70px auto 55px;
    max-width: 70%;
    opacity: 0.05;
  }

  .Heading {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
  }

  .resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
}
