@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb400;
  --primary-bg-color: #2b2a2a;
  --dark-bg-color: #111111;
  --dark-text-color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--dark-bg-color);
  color: var(--dark-text-color);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  position: fixed;
  top: 0;
  right: 0;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

.routingAnimation {
  &::after {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 999;
    background: #2b2a2a;
    animation: routingAnimation 0.5s linear;
  }
  @keyframes routingAnimation {
    0% {
      height: 100vh;
    }
    20% {
      height: 80vh;
    }
    100% {
      height: 0;
    }
  }
}

.slideTop {
  animation: slideTop 0.8s ease-out;
}
@keyframes slideTop {
  from {
    transform: translateY(120px);
  }
}
