.Avatar {
  height: 100%;
  width: 35%;
}

.AvatarWrap {
  height: 70%;
  width: 80%;
  margin-left: 60px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-radius: 30px;
    -webkit-box-shadow: 1px 0px 14px 6px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 1px 0px 14px 6px rgba(0, 0, 0, 0.22);
    box-shadow: 1px 0px 14px 6px rgba(0, 0, 0, 0.22);
  }
}

.Avatar {
  .colorBlock {
    background: var(--primary-color-dark-theme);
    height: 200%;
    left: -83%;
    position: fixed;
    top: -50%;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    width: 100%;
    z-index: -1;
  }
}
