.Resume {
  .heading {
    font-family: Poppins, sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4.8rem;
  }
  .content {
    padding-bottom: 30px;
    .resumeItem {
      padding: 0 20px 0 60px;
      position: relative;
      margin-bottom: 58px;
      &::before {
        content: '';
        background-color: #2b2a2a;
        height: 100%;
        left: 20px;
        position: absolute;
        top: 0;
        width: 1px;
        z-index: -1;
      }
      .icon {
        align-items: center;
        background-color: var(--primary-color);
        border: none;
        border-radius: 50%;
        display: flex;
        height: 40px;
        justify-content: center;
        left: 0;
        outline: none;
        position: absolute;
        top: 0;
        width: 40px;
      }
      .timeLine {
        background-color: #252525;
        border-radius: 20px;
        color: #fff;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 12px;
        opacity: 0.8;
        padding: 1px 10px;
      }
      .title {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: uppercase;
        span {
          font-size: 1.5rem;
          opacity: 0.8;
          padding-left: 26px;
          position: relative;
          &::before {
            content: '';
            background-color: #fff;
            height: 2px;
            left: 7px;
            opacity: 0.8;
            position: absolute;
            top: 9px;
            width: 10px;
          }
        }
      }
      .desc {
        margin: 0;
        color: #eee;
        font-size: 1.4rem;
      }
    }
  }
}
