.Home {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  .colorBlock {
    background: var(--primary-color);
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    top: -50%;
    left: -83%;
    z-index: -1;
  }
  .content {
    height: 100%;
  }
}

@media (max-width: 992px) {
  .Home {
    height: auto;
    .colorBlock {
      display: none;
    }
  }
}
