.ControlGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background-color: #2b2a2a;
    border-radius: 10px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px 12px;
    margin: 0 0 30px 15px;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: all 0.25s ease;
    &.Active {
      background: var(--primary-color);
    }
    &:hover {
      background: var(--primary-color);
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .ControlGroup {
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 35px;
    button {
      margin: 0;
      width: 40%;
    }
  }
}
