.DetailModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .content {
    width: 80%;
    background-color: #252525;
    border-radius: 6px;
    padding: 30px;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .closeBtn {
      backdrop-filter: blur(5px);
      background-color: hsla(0, 0%, 100%, 0.1);
      color: var(--primary-color);
      border-radius: 50%;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
      display: flex;
      align-items: center;
      height: 46px;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(-50%) translateY(30%);
      width: 46px;
      border: none;
      outline: none;
      font-size: 26px;
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.2);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .DetailModal {
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .content {
      top: 40px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

@media screen and (max-width: 768px) {
  .DetailModal {
    .content {
      width: 90%;
    }
  }
}
