.Thumbnail {
  height: 86vh;
  width: 80%;
  .Thumbnail__wrap {
    height: 100%;
    width: 100%;
    z-index: 10;
    .ThumbnailImage {
      background: rgba(101, 101, 101, 0.4);
      border-radius: 12px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .colorBlock {
    background: var(--primary-color);
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    top: -50%;
    left: -83%;
    z-index: -1;
  }
}

@media (max-width: 992px) {
  .Thumbnail {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 18px;
    margin-top: 80px;
    .Thumbnail__wrap {
      transform: none;
      width: 270px;
      height: 270px;
      border-radius: 50%;
      border: 4px solid #252525;
      overflow: hidden;
    }
  }
  .colorBlock {
    display: none;
  }
}
