.Information {
  height: 100%;
  display: flex;
  align-items: center;
  .Content {
    .Heading {
      font-size: 5.1rem;
      font-weight: 700;
      line-height: 62px;
      margin-left: 60px;
      position: relative;
      text-transform: capitalize;
      span {
        display: block;
        color: var(--primary-color);
        position: relative;
        display: flex;
        align-items: center;
        white-space: nowrap;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          display: block;
          height: 6px;
          width: 40px;
          transform: translateX(-160%);
          border-radius: 12px;
          background: var(--primary-color);
        }
      }
    }
    .desc {
      text-align: justify;
      font-size: 1.6rem;
      line-height: 2.1;
      margin: 15px 0 28px;
    }
    .control {
      display: flex;
    }
  }
}

@media (max-width: 992px) {
  .Information {
    padding-bottom: 90px;
    .Content {
      .Heading {
        font-size: 3.8rem;
        text-align: center;
        margin: 0;
        line-height: 1.2;
        span {
          justify-content: center;
          &::before {
            display: none;
          }
        }
      }
      .desc {
        line-height: 1.8;
      }
      .control {
        justify-content: center;
      }
    }
  }
}

// mobild
@media (max-width: 730px) {
  .Information {
    .Content {
      .Heading {
        font-size: 2.9rem;
        line-height: 39px;
        text-align: center;
      }
      .desc {
        font-size: 1.4rem;
        line-height: 28px;
        padding: 0 1rem;
        text-align: center;
      }
      .control {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
