.skill {
  text-align: center;

  .separator {
    border-top: 1px solid #101010;
    margin: 70px auto 55px;
    max-width: 70%;
    opacity: 0.05;
  }

  h1 {
    position: relative;
    font-size: 26px;
    margin-bottom: 48px;
  }

  .skillList {
    display: flex;
    flex-wrap: wrap;
  }
}
