.HomePage {
  width: 100%;
  background: transparent;
  overflow: hidden;

  .container {
    padding: 70px 16px 0;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .colorBlock {
    background: var(--primary-color-dark-theme);
    height: 200%;
    left: -83%;
    position: fixed;
    top: -50%;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    width: 100%;
    z-index: -1;
  }
}

@media only screen and (max-width: 992px) {
  .HomePage .container {
    flex-direction: column;
  }
  .colorBlock {
    display: none;
  }
}
